name: Publish snapshot

on:
  workflow_dispatch:

jobs:
  publish-snapshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin

      - uses: gradle/actions/setup-gradle@v5

      - name: Publish snapshot to Maven Central
        run: ./gradlew publish
        env:
          MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}